<p id="notice"><%= notice %></p>

<body>
  <%= render 'NavBar', project: @project %>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to my Portfolio Project!</h1>
          <p>Hi, I am a senior at UCCS studying Computer Science. These are the Projects I have.</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
        <% @projects.each do |project| %>
          <div class="col-md-4">
            <div class="card body">
              <h5 class="card title"> <td><%= project.title %></td></h5>

              <% if project.description.length > 100 %>
                <p class="card text"><td><%= project.description.slice(0..100) ... %></td> <p>
              <% else %>
                <p class="card-text"><td><%= project.description%></td> <p>
              <% end %>

              <td><%= link_to 'Show', project %></td>

              <% if user_signed_in? %>
                <td><%= link_to 'Edit', edit_project_path(project) %></td>
                <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </div>
          </div>
        <% end %>
        
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>© Aeaea 700 b.c.e </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  
</body>
